@import 'modules/variables';
@import 'partials/mainLeftColumn';
@import 'partials/rightColumn';
@import 'partials/middleBottomColumn';

// *{
//   font-family: Arial;
//   font-weight: 400;
//   box-sizing: border-box;
// }

body{
  @media#{$mobile}{
    margin: 25px;
  }
  @media#{$tablet}{
    margin: 35px 55px;
  }
  @media#{$desktop}{
    margin: 70px 45px;
  }
  p{
    color: black;
    line-height: 1rem;
  }
}
