.red_btn_topic{
  height: 3rem;
  width: 8rem;
  background-color: $importantColor;
  color: white;
  text-align: center;
  padding-top: 10px;
  position: absolute;
  z-index: 1;
}

.mainArticle_pic{
  position: relative;
}

.mainArticle_genre{
  color: $importantColor;
  float: left;
  clear: both;
  display: inline-block;
  padding-top: 15px;
}
.mainArticle_paging{
  float: right;
  display: inline-block;
  .pageing{
    font-weight: 800;
    font-size: 2rem;
  }
  b{
    padding-bottom: 5px;
  }
}
.dayTopic{
  span{
    font-weight: bold;
  }
  .dayTopic1{
    .topic{
      color: $importantColor;
      font-weight: bold;
      font-size: 1.1rem;
    }
  }
}

@media#{$mobile}{
  body{
    background-color: $timeLineColor;
  }
  .dayTopic{
    display: flex;
    justify-content: space-between;
    .dayTopic1, .dayTopic2{
      width: 50%;
    }
    .dayTopic2{
      padding-top: 35px;
    }
  }

}

@media#{$tablet}{
  .red_btn_topic{
    height: 2rem;
    width: 6.5rem;
    padding-top: 5px;
    font-size: 0.9rem;
  }
  h1{
    margin-bottom: 15px;
  }
  .dayTopic2{
    padding-top: 35px;
  }

}
