.commentsArticle{
  justify-content: space-around;
  .comment{
    position: relative;
    display: inline-block;
    .parenteses, .foto{
      position: absolute;
      transform: translateX(50%, 50%);
    }
    p{
      text-align: center;
      line-height: 1rem;
    }
    .commentDescr{
      color: gray;
      font-size: 0.9rem;
    }
  }
}


@media#{$mobile}{
  .commentsArticle{
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    overflow: hidden;
    .comment{
      width: 180px;
      position: relative;
      margin-top: 80px;
      .parenteses{
        position: absolute;
        left: 20%;
        top: -50px;
      }
      .foto{
        position: absolute;
        left: 35%;
        top: -55px;
      }
    }
  }

}

@media#{$tablet}{
  .commentsArticle{
    flex-direction: row;
    justify-content: space-around;
    height: 230px;
    .comment{
      margin-top: 100px;
      position: relative;
      .parenteses{
        position: absolute;
        left: 15%;
        top: -50px;
      }
      .foto{
        position: absolute;
        left: 30%;
        top: -55px;
      }
      a{
        display: none;
      }
    }
  }
}

@media#{$desktop}{
  .commentsArticle{
    flex-direction: column;
    height: auto;
    border-left: 4px solid $timeLineColor;
    margin-left: 20px;
    .comment{
      margin-top: 80px;
      a{
        text-decoration: underline;
        margin-left: 20%;
      }
      .parenteses{
        left: 20%;
      }
      .foto{
        left: 35%;
      }
    }
  }
}
