//breakpoints
$mobile: "(max-width: 575px)";
$tablet: "(min-width: 576px)";
$desktop: "(min-width: 992px)";

//min mobile 425px;
//min desktop od 765 czy od 900???
//colors
$timeLineColor: #f2f2f2;
$importantColor: #cc0000;
